.headerWrapper {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    z-index: 2;
    height: 4em;
    background-color: #293742;
    opacity: 1;
    display: flex;
    justify-content: space-between;
}

.contentList {
    width: 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
}

.contentList li {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

.contentList p {
    font-size: 9px;
    text-align: left;
    color: #ACACAC;
    opacity: 1;
}

.contentSearch {
    /* display: flex; */
    margin: 1.5%;
    display: flex;
}

.contentSearch input {
    padding: 4px;
    background-color: #212C35 ;
    font-weight: bold;
    border: 1px solid #212C35;
    padding: 10px 20px 14px 18px;
    color: #ACACAC;
}

.contentSearch button {
    background-color: #293742;
    border: 1px solid #212C35;
    border-radius: 3px;
    opacity: 1;
    padding-top: 2px;
}