.container {
    position: fixed;
    top: 4em;
    width: 25vw;
    left: 75vw;
    height: 100vh;
}

.container h1 {
    font-size: 20px;
    padding: 5% 0 2% 10%;
    font-weight: bold;
}

.buttons {
    padding: 0 0 5% 9%;
}

.form {
    padding-left: 9%;
    display: flex;
    flex-direction: column;
}

.form label {
    padding-bottom: 4%;
}

.form label input {
    padding: 2% 27% 2% 0%;
}